<body>
  <!--Mask-->
  <div id="intro" class="view">
    <div class="mask rgba-black-strong">
      <div
        class="container-fluid d-flex align-items-center justify-content-center h-100"
      >
        <div class="row d-flex justify-content-center text-center">
          <div class="col-md-10">
            <!-- Heading -->
            <h2 class="display-4 font-weight-bold white-text pt-5 mb-2">
              Servoo
            </h2>

            <!-- Divider -->
            <hr class="hr-light" />

            <!-- Description -->
            <p class="white-text my-4 text-light">
              SERVOO is a consulting and engineering company that positions
              itself in the development and deployment of innovative
              technologies in various fields and in particular those aimed at
              lifting African countries out of digital isolation. It was created
              in February 2018 and has since developed in-depth expertise
              through which it is gradually becoming an essential reference in
              solutions dedicated to foreign trade and trade facilitation
              (logistics platforms, one-stop-shop, Transit, Ports, Electronic
              payments, etc. .).
            </p>
            <button
              type="button"
              class="btn btn-outline-white"
              (click)="moveToMission()"
            >
              Read more<i class="fa fa-book ml-2"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--/.Mask-->
  <div #mission id="mission"></div>
  <section class="our-mission pt-5 mt-auto">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <h2 class="pb-3">Our Mission</h2>
          <ul>
            <li>
              <p>
                Support companies, administrations and government in the
                implementation of reforms based on technological innovations.
              </p>
            </li>
            <li>
              <p>
                Implement digital services for better management of development
                strategies in African countries.
              </p>
            </li>
            <li>
              <p>
                Supervise and support the development of African SMEs with a
                view to reducing the digital fradcture.
              </p>
            </li>
          </ul>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <p>
            <img
              src="../../assets/img/mateusz-dach.jpg"
              class="img-fluid br-5"
              alt=""
            />
          </p>
        </div>
      </div>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path
        fill="aliceblue"
        fill-opacity="1"
        d="M0,160L48,176C96,192,192,224,288,234.7C384,245,480,235,576,202.7C672,171,768,117,864,106.7C960,96,1056,128,1152,138.7C1248,149,1344,139,1392,133.3L1440,128L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
      ></path>
    </svg>
  </section>

  <section class="goals pb-5">
    <div class="container tex-center">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <p>
            <img
              src="../../assets/img/thisisengineering.jpg"
              class="img-fluid"
              alt=""
            />
          </p>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <h2>Our Goals</h2>
          <ul>
            <li>
              <p>
                Breaking the digital divide between developed countries and
                African countries.
              </p>
            </li>
            <li>
              <p>Propel a dynamic of innovation for African issues.</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</body>
