<footer>
    <div class="container">
      <div class="row d-flex justify-content-around">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <ul class="menu">
            <span>Menu</span>
            <hr />
            <li>
              <a aria-current="page" (click)="moveToTop()" routerLink="">Home</a>
            </li>
            <li>
              <a (click)="moveToTop()" routerLink="">Development and Integration</a>
            </li>
            <li>
              <a (click)="moveToSolution()" routerLink="">Solution</a>
            </li>
            <li>
              <a (click)="moveToServices()" routerLink="">Services</a>
            </li>
            <li>
              <a (click)="moveToTechnology()" routerLink="">Technology</a>
            </li>
            <li>
              <a routerLink="/company">Company</a>
            </li>
            <li>
              <a (click)="moveToContact()" routerLink="">Contact Us</a>
            </li>
          </ul>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <ul class="address">
            <span>Contact Us</span>
            <hr />
            <li>
              <i class="fa fa-phone" aria-hidden="true"></i>
              <a> Phone: +237 694 65 62 00</a>
            </li>
            <li>
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              <a> Address: Sis à la rue AMI, cité des cocotiers 2, Japoma</a>
            </li>
            <li>
              <i class="fa fa-address-card" aria-hidden="true"></i>
              <a>RC : RC/DLA/2018/R/524</a>
            </li>
            <li>
              <i class="fa fa-user-circle" aria-hidden="true"></i>
              <a>NIU : M021812677122W</a>
            </li>
            <li>
              <i class="fa fa-envelope" aria-hidden="true"></i>
              <a>Email: servoocmr@gmail.com, infos@servoo.cm</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container text-center cp-right">
      <span>Copyright &copy; 2021. Servoo. All Rights Reserved.</span>
    </div>
  </footer>