<footer>
    <div class="container">
      <div class="row d-flex justify-content-around">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <ul class="menu">
            <span>{{"footer.name" | translate}}</span>
            <hr />
            <li>
              <a aria-current="page" (click)="moveToTop()" routerLink="">{{ "HOMEMENU.HOME" | translate }}</a>
            </li>
            <li>
              <a (click)="moveToTop()" routerLink="">{{ "HOMEMENU.DEVELOPMENT-INTEGRATION" | translate }}</a>
            </li>
            <li>
              <a (click)="moveToSolution()" routerLink="">{{
            "HOMEMENU.SOLUTIONS" | translate
          }}</a>
            </li>
            <li>
              <a (click)="moveToServices()" routerLink="">{{
            "HOMEMENU.SERVICES" | translate
          }}</a>
            </li>
            <li>
              <a (click)="moveToTechnology()" routerLink="">{{
            "HOMEMENU.TECHNOLOGY" | translate
          }}</a>
            </li>
            <li>
              <a routerLink="/company">{{
            "HOMEMENU.COMPANY" | translate
          }}</a>
            </li>
            <li>
              <a (click)="moveToContact()" routerLink="">{{
            "HOMEMENU.CONTACT" | translate
          }}</a>
            </li>
          </ul>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <ul class="address">
            <span>{{"footer.contact-us" | translate}}</span>
            <hr />
            <li>
              <i class="fa fa-phone" aria-hidden="true"></i>
              <a> {{"footer.phone" | translate}}</a>
            </li>
            <li>
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              <a>{{"footer.Address" | translate}}</a>
            </li>
            <li>
              <i class="fa fa-address-card" aria-hidden="true"></i>
              <a>{{"footer.RC" | translate}}</a>
            </li>
            <li>
              <i class="fa fa-user-circle" aria-hidden="true"></i>
              <a>{{"footer.NIU" | translate}}</a>
            </li>
            <li>
              <i class="fa fa-envelope" aria-hidden="true"></i>
              <a>{{"footer.email" | translate}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container text-center cp-right">
      <span>Copyright &copy; 2021. Servoo. All Rights Reserved.</span>
    </div>
  </footer>