<body>
  <nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#"
        ><img src="../assets/navlogo.png" class="navlogo" alt="logo" />
        <img
          src="../assets/navname.png"
          class="mr-auto brand-name"
          alt="nav name"
        />
      </a>
      <button
        class="navbar-toggler first-button"
        type="button"
        data-toggle="collapse"
        data-target="#navbarMenu"
        aria-controls="navbarMenu"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <div class="animated-icon1">
          <span></span><span></span><span></span>
        </div>
      </button>

      <div id="navbarMenu" class="collapse navbar-collapse">
        <div class="social ml-0 p-0 col-3">
          <a href=""
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="#7f0694ff"
              class="bi bi-linkedin ml-0 mr-2"
              viewBox="0 0 16 16"
            >
              <path
                d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"
              /></svg
          ></a>
          <a href="">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="#7f0694ff"
              class="bi bi-twitter mr-2"
              viewBox="0 0 16 16"
            >
              <path
                d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"
              />
            </svg>
          </a>
          <a href="">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="#7f0694ff"
              class="bi bi-youtube mr-0"
              viewBox="0 0 16 16"
            >
              <path
                d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.007 2.007 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.007 2.007 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31.4 31.4 0 0 1 0 7.68v-.122C.002 7.343.01 6.6.064 5.78l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.007 2.007 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A99.788 99.788 0 0 1 7.858 2h.193zM6.4 5.209v4.818l4.157-2.408L6.4 5.209z"
              />
            </svg>
          </a>
        </div>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Development and Integration</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Solution</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Technology</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/company" routerLinkActive="active"
              >Company</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/company" routerLinkActive="active"
              >Contact Us</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- header content -->
  <header class="page-header gradient">
    <div class="container pb-3">
      <div class="row justify-content-center align-items-center">
        <div class="col-md-5 align-items-center">
          <h2>Service Optimization Oriented</h2>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Praesentium deserunt consectetur aperiam ex mollitia temporibus
            ipsam sunt ab atque consequatur rem cumque recusandae, sint
            cupiditate exercitationem provident esse at distinctio.
          </p>
          <button type="button" class="btn btn-outline-warning">
            Read More ...
          </button>
        </div>
        <div class="col-md-5">
          <img
            src="../assets/img/email_campaign_monochromatic.svg"
            alt="Header image"
          />
        </div>
      </div>
    </div>
    <!-- svg waves -->
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 220">
      <path
        fill="#fff"
        fill-opacity="1"
        d="M0,128L48,122.7C96,117,192,107,288,85.3C384,64,480,32,576,48C672,64,768,128,864,138.7C960,149,1056,107,1152,90.7C1248,75,1344,85,1392,90.7L1440,96L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
      ></path>
    </svg>
  </header>
  <section class="companies">
    <div class="row text-center pb-5">
      <h1>Our Methodological Basis</h1>
    </div>
    <div class="container text-center">
      <div class="row g-5">
        <div class="col-md-2">
          <img
            src="../assets/img/companies/1.1.png"
            alt="company logo"
            class="img-fluid"
          />
        </div>
        <div class="col-md-2">
          <img
            src="../assets/img/companies/1.2.png"
            alt="company logo"
            class="img-fluid"
          />
        </div>
        <div class="col-md-2">
          <img
            src="../assets/img/companies/1.3.png"
            alt="company logo"
            class="img-fluid"
          />
        </div>
        <div class="col-md-2">
          <img
            src="../assets/img/companies/1.4.png"
            alt="company logo"
            class="img-fluid"
          />
        </div>
        <div class="col-md-2">
          <img
            src="../assets/img/companies/1.5.png"
            alt="company logo"
            class="img-fluid"
          />
        </div>
        <div class="col-md-2">
          <img
            src="../assets/img/companies/1.6.png"
            alt="company logo"
            class="img-fluid"
          />
        </div>
      </div>
    </div>
  </section>
  <!-- Business Areas -->
  <section class="business-areas pb-5">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path
        fill="#fff"
        fill-opacity="1"
        d="M0,128L34.3,149.3C68.6,171,137,213,206,213.3C274.3,213,343,171,411,160C480,149,549,171,617,160C685.7,149,754,107,823,96C891.4,85,960,107,1029,117.3C1097.1,128,1166,128,1234,128C1302.9,128,1371,128,1406,128L1440,128L1440,0L1405.7,0C1371.4,0,1303,0,1234,0C1165.7,0,1097,0,1029,0C960,0,891,0,823,0C754.3,0,686,0,617,0C548.6,0,480,0,411,0C342.9,0,274,0,206,0C137.1,0,69,0,34,0L0,0Z"
      ></path>
    </svg>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6">
          <img src="../assets/img/seo_monochromatic.svg" alt="" />
        </div>
        <div class="col-md-6">
          <h1 class="my-3">Business areas</h1>
          <p class="my-4">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis vero
            iure deleniti porro quisquam. Eveniet adipisci totam ab sunt facilis
            ut rem temporibus similique! Sit quidem repellat id voluptate quod?
          </p>
          <ul>
            <li><a>Services</a></li>
            <li><a>Development and Integration</a></li>
            <li><a>Solutions</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <!-- Decelopment and Integration -->
  <section class="development-integration pb-5">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path
        fill="aliceblue"
        fill-opacity="1"
        d="M0,128L34.3,149.3C68.6,171,137,213,206,213.3C274.3,213,343,171,411,160C480,149,549,171,617,160C685.7,149,754,107,823,96C891.4,85,960,107,1029,117.3C1097.1,128,1166,128,1234,128C1302.9,128,1371,128,1406,128L1440,128L1440,0L1405.7,0C1371.4,0,1303,0,1234,0C1165.7,0,1097,0,1029,0C960,0,891,0,823,0C754.3,0,686,0,617,0C548.6,0,480,0,411,0C342.9,0,274,0,206,0C137.1,0,69,0,34,0L0,0Z"
      ></path>
    </svg>
    <div class="container">
      <div class="row text-center">
        <h1>Development and Integration</h1>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi
          corporis doloremque dolorem, asperiores ullam amet at sit
          necessitatibus molestiae odio, enim, explicabo similique id ad nisi
          illo architecto porro. Sequi.
        </p>
        <div class="col-md-4 pt-3">
          <div class="icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="48"
              height="48"
              fill="currentColor"
              class="bi bi-box"
              viewBox="0 0 16 16"
            >
              <path
                d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5 8 5.961 14.154 3.5 8.186 1.113zM15 4.239l-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923l6.5 2.6zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464L7.443.184z"
              />
            </svg>
          </div>
          <h3>Tailor-made developments</h3>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia
            quaerat doloremque, laboriosam necessitatibus eveniet, neque
            nesciunt quasi eum, commodi nulla sint delectus saepe voluptatibus
            reprehenderit illum assumenda. Repellendus, similique corporis!
          </p>
        </div>
        <div class="col-md-4 pt-3">
          <div class="icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="48"
              height="48"
              fill="currentColor"
              class="bi bi-display"
              viewBox="0 0 16 16"
            >
              <path
                d="M0 4s0-2 2-2h12s2 0 2 2v6s0 2-2 2h-4c0 .667.083 1.167.25 1.5H11a.5.5 0 0 1 0 1H5a.5.5 0 0 1 0-1h.75c.167-.333.25-.833.25-1.5H2s-2 0-2-2V4zm1.398-.855a.758.758 0 0 0-.254.302A1.46 1.46 0 0 0 1 4.01V10c0 .325.078.502.145.602.07.105.17.188.302.254a1.464 1.464 0 0 0 .538.143L2.01 11H14c.325 0 .502-.078.602-.145a.758.758 0 0 0 .254-.302 1.464 1.464 0 0 0 .143-.538L15 9.99V4c0-.325-.078-.502-.145-.602a.757.757 0 0 0-.302-.254A1.46 1.46 0 0 0 13.99 3H2c-.325 0-.502.078-.602.145z"
              />
            </svg>
          </div>
          <h3>Integration of opensource solutions</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat
            maiores vero, sint eveniet nesciunt minima quos nobis, omnis placeat
            consequatur cupiditate accusamus expedita ad adipisci esse hic autem
            dolore voluptatum?
          </p>
        </div>
        <div class="col-md-4 pt-3">
          <div class="icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="48"
              height="48"
              fill="currentColor"
              class="bi bi-graph-up"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M0 0h1v15h15v1H0V0zm10 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4.9l-3.613 4.417a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61L13.445 4H10.5a.5.5 0 0 1-.5-.5z"
              />
            </svg>
          </div>
          <h3>Development of IOT, Blockchain, Big Data solutions</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident
            obcaecati inventore sit quos? Delectus possimus mollitia omnis
            repellat, id voluptas velit quas pariatur earum voluptate esse
            veniam quasi odit. Amet!
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- Solutions -->
  <section class="solutions pb-5">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path
        fill="#7f0694ff"
        fill-opacity="1"
        d="M0,128L34.3,149.3C68.6,171,137,213,206,213.3C274.3,213,343,171,411,160C480,149,549,171,617,160C685.7,149,754,107,823,96C891.4,85,960,107,1029,117.3C1097.1,128,1166,128,1234,128C1302.9,128,1371,128,1406,128L1440,128L1440,0L1405.7,0C1371.4,0,1303,0,1234,0C1165.7,0,1097,0,1029,0C960,0,891,0,823,0C754.3,0,686,0,617,0C548.6,0,480,0,411,0C342.9,0,274,0,206,0C137.1,0,69,0,34,0L0,0Z"
      ></path>
    </svg>
    <div class="container align-items-center">
      <div class="row text-center justify-content-center">
        <div class="col-md-10">
          <h1>Our Solutions</h1>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio id
            soluta provident quo amet ullam voluptates voluptas eum ipsam, illo
            nobis, a nihil atque esse quidem. Amet natus distinctio impedit.
          </p>
        </div>
      </div>
      <div class="row my-3 g-3">
        <div class="col-md-4">
          <img
            src="../assets/img/c1.jpg"
            alt="Solution image"
            class="img-fluid"
          />
        </div>
        <div class="col-md-4">
          <img
            src="../assets/img/c2.jpg"
            alt="Solution image"
            class="img-fluid"
          />
        </div>
        <div class="col-md-4">
          <img
            src="../assets/img/c3.jpg"
            alt="Solution image"
            class="img-fluid"
          />
        </div>
      </div>
      <div class="row mt-5 justify-content-end">
        <div class="col-md-2">
          <button type="button" class="btn btn-outline-secondary">
            See All Works
          </button>
        </div>
      </div>
    </div>
  </section>

  <!-- services -->
  <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path
      fill="#f9b032ff"
      fill-opacity="1"
      d="M0,128L34.3,149.3C68.6,171,137,213,206,213.3C274.3,213,343,171,411,160C480,149,549,171,617,160C685.7,149,754,107,823,96C891.4,85,960,107,1029,117.3C1097.1,128,1166,128,1234,128C1302.9,128,1371,128,1406,128L1440,128L1440,320L1405.7,320C1371.4,320,1303,320,1234,320C1165.7,320,1097,320,1029,320C960,320,891,320,823,320C754.3,320,686,320,617,320C548.6,320,480,320,411,320C342.9,320,274,320,206,320C137.1,320,69,320,34,320L0,320Z"
    ></path>
  </svg> -->
  <section class="services pb-5">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 220">
      <path
        fill="aliceblue"
        fill-opacity="1"
        d="M0,128L34.3,149.3C68.6,171,137,213,206,213.3C274.3,213,343,171,411,160C480,149,549,171,617,160C685.7,149,754,107,823,96C891.4,85,960,107,1029,117.3C1097.1,128,1166,128,1234,128C1302.9,128,1371,128,1406,128L1440,128L1440,0L1405.7,0C1371.4,0,1303,0,1234,0C1165.7,0,1097,0,1029,0C960,0,891,0,823,0C754.3,0,686,0,617,0C548.6,0,480,0,411,0C342.9,0,274,0,206,0C137.1,0,69,0,34,0L0,0Z"
      ></path>
    </svg>
    <div class="row text-center pt-3 mb-5 services-heading">
      <h1>Our Services</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione
        voluptatibus natus, adipisci modi aliquam, eum reiciendis laboriosam
        velit qui atque quis eveniet aliquid excepturi quasi enim asperiores
        pariatur cum consequuntur?
      </p>
    </div>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6">
          <button type="button" class="btn btn-outline-warning mb-3">
            Assistance
          </button>
          <h3>We Provide Assistance and help with Advices</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas
            consequatur dolorem expedita aspernatur nulla, esse velit libero
            veritatis, odit aliquid id assumenda obcaecati perspiciatis vero rem
            quidem similique nisi ea?
          </p>
        </div>
        <div class="col-md-6">
          <img src="../assets/img/coding_.svg" alt="" />
        </div>
        <div class="col-md-6">
          <img src="../assets/img/marketing.svg" alt="" />
        </div>
        <div class="col-md-6">
          <button type="button" class="btn btn-outline-warning mb-3">
            Outsourcing
          </button>

          <h3>We Provide Outsourcing</h3>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore
            necessitatibus sapiente accusantium quasi facilis corrupti
            voluptatibus eius quaerat hic dolore. Aliquam earum blanditiis
            quidem perferendis soluta velit maxime magnam voluptate.
          </p>
        </div>
        <div class="col-md-6">
          <button type="button" class="btn btn-outline-warning mb-3">
            Training
          </button>
          <h3>We Train people on the use of the Latest technologies</h3>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Consequatur distinctio qui officiis numquam mollitia dolorem placeat
            temporibus eligendi, quod porro saepe! Inventore quas exercitationem
            eius ipsa, magni cupiditate id hic.
          </p>
        </div>
        <div class="col-md-6">
          <img src="../assets/img/revenue_.svg" alt="" />
        </div>
      </div>
    </div>
  </section>

  <!-- Technology -->
  <section class="technology">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path
        fill="#7f0694ff"
        fill-opacity="1"
        d="M0,128L34.3,149.3C68.6,171,137,213,206,213.3C274.3,213,343,171,411,160C480,149,549,171,617,160C685.7,149,754,107,823,96C891.4,85,960,107,1029,117.3C1097.1,128,1166,128,1234,128C1302.9,128,1371,128,1406,128L1440,128L1440,0L1405.7,0C1371.4,0,1303,0,1234,0C1165.7,0,1097,0,1029,0C960,0,891,0,823,0C754.3,0,686,0,617,0C548.6,0,480,0,411,0C342.9,0,274,0,206,0C137.1,0,69,0,34,0L0,0Z"
      ></path>
    </svg>
    <div class="row text-center mb-5 lh-2">
      <h1>Technologies mastered by our experts</h1>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic natus
        velit ex vel. Vel, consequuntur obcaecati. Optio voluptatum autem
        debitis vero libero officia, exercitationem tempore eligendi at
        laboriosam repudiandae? Quisquam!
      </p>
    </div>

    <div class="container text-center">
      
        <div class="tech-img col col-md-6">
          <img
            src="../assets/img/primefaces-logo.png"
            class="img-fluid"
            alt=""
          />
        </div>
        <div class="tech-img col col-md-6">
          <img src="../assets/img/Angular-Logo.png" class="img-fluid" alt="" />
        </div>
        <div class="tech-img col col-md-6">
          <img
            src="../assets/img/thingsboard_logo.png"
            class="img-fluid"
            alt=""
          />
        </div>
        <div class="tech-img col col-md-6">
          <img
            src="../assets/img/spring-boot-logo.png"
            class="img-fluid"
            alt=""
          />
        </div>
      
        <div class="tech-java col col-md-6">
          <img
            src="../assets/img/java-logo.png"
            class="img-fluid java-img"
            alt=""
          />
        </div>
        <div class="tech-img col col-md-6">
          <img src="../assets/img/python-logo.png" class="img-fluid" alt="" />
        </div>
        <div class="tech-img col col-md-6">
          <img src="../assets/img/Odoo-logo.png" class="img-fluid" alt="" />
        </div>
        <div class="tech-img col col-md-6">
          <img src="../assets/img/hadoop-logo.png" class="img-fluid" alt="" />
        </div>
    
        <div class="tech-img col col-md-6">
          <img src="../assets/img/linux-logo.png" class="img-fluid" alt="" />
        </div>
        <div class="tech-img col col-md-6">
          <img src="../assets/img/OracleDB-logo.png" class="img-fluid" alt="" />
        </div>
        <div class="tech-img col col-md-6">
          <img
            src="../assets/img/Oracle_Solaris-logo.png"
            class="img-fluid"
            alt=""
          />
        </div>
        <div class="tech-img col col-md-6">
          <img
            src="../assets/img/PostgreSQL-logo.png"
            class="img-fluid"
            alt=""
          />
        </div>
     
        <div class="tech-img col col-md-6">
          <img src="../assets/img/mysql-logo.png" class="img-fluid" alt="" />
        </div>
        <div class="tech-img col col-md-6">
          <img
            src="../assets/img/bootstrap-logo.png"
            class="img-fluid"
            alt=""
          />
        </div>
        <div class="tech-img col col-md-6">
          <img src="../assets/img/github-logo.png" class="img-fluid" alt="" />
        </div>
        <div class="tech-img col col-md-6">
          <img src="../assets/img/nodejs-logo.png" class="img-fluid" alt="" />
        </div>
        </div>
  </section>

  <!-- Contact Us -->
  <section class="contact pb-5">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path
        fill="#fff"
        fill-opacity="1"
        d="M0,128L34.3,149.3C68.6,171,137,213,206,213.3C274.3,213,343,171,411,160C480,149,549,171,617,160C685.7,149,754,107,823,96C891.4,85,960,107,1029,117.3C1097.1,128,1166,128,1234,128C1302.9,128,1371,128,1406,128L1440,128L1440,0L1405.7,0C1371.4,0,1303,0,1234,0C1165.7,0,1097,0,1029,0C960,0,891,0,823,0C754.3,0,686,0,617,0C548.6,0,480,0,411,0C342.9,0,274,0,206,0C137.1,0,69,0,34,0L0,0Z"
      ></path>
    </svg>
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-md-5">
          <h1>Contact Us.</h1>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label"
              >Email address</label
            >
            <input
              type="email"
              class="form-control"
              id="exampleFormControlInput1"
              placeholder="name@example.com"
            />
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label"
              >Example textarea</label
            >
            <textarea
              class="form-control"
              id="exampleFormControlTextarea1"
              rows="3"
            ></textarea>
          </div>
          <button type="button" class="btn btn-outline-secondary">Send</button>
        </div>
        <div class="col-md-5">
          <img src="../assets/img/handshake.svg" alt="Contact image" />
        </div>
      </div>
    </div>
  </section>
  <footer>
    <div class="container">
      <div class="row d-flex justify-content-around">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <ul class="menu">
            <span>Menu</span>
            <hr>
            <li>
              <a aria-current="page" href="#">Home</a>
            </li>
            <li>
              <a href="#">Development and Integration</a>
            </li>
            <li>
              <a href="#">Solution</a>
            </li>
            <li>
              <a href="#">Services</a>
            </li>
            <li>
              <a href="#">Technology</a>
            </li>
            <li>
              <a routerLink="/company">Company</a>
            </li>
            <li>
              <a routerLink="/company">Contact Us</a>
            </li>
          </ul>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <ul class="address">
            <span>Contact Us</span>
            <hr>
            <li>
              <i class="fa fa-phone" aria-hidden="true"></i>
              <a> Phone: +237 694 65 62 00</a>
            </li>
            <li>
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              <a>Address: Sis à la rue AMI, cité des cocotiers 2, Japoma</a>
            </li>
            <li>
              <i class="fa fa-address-card" aria-hidden="true"></i>
              <a>RC : RC/DLA/2018/R/524</a>
            </li>
            <li>
              <i class="fa fa-user-circle" aria-hidden="true"></i>
              <a>NIU : M021812677122W</a>
            </li>
            <li>
              <i class="fa fa-envelope" aria-hidden="true"></i>
              <a>Email: servoocmr@gmail.com, infos@servoo.cm</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container-fluid text-center">
      <span>Copyright &copy; 2021. Servoo. All Rights Reserved.</span>
    </div>
  </footer>
</body>
