<body>
  <nav
    class="navbar navbar-expand-lg navbar-light fixed-top"
  >
    <div class="container">
      <a class="navbar-brand" href="#"
        ><img src="../assets/navlogo.png" class="navlogo" alt="logo" />
        <img
          src="../assets/navname.png"
          class="mr-auto brand-name"
          alt="nav name"
        />
      </a>
      <button
        class="navbar-toggler first-button"
        type="button"
        data-toggle="collapse"
        data-target="#navbarMenu"
        aria-controls="navbarMenu"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <div class="animated-icon1">
          <span></span><span></span><span></span>
        </div>
      </button>

      <div id="navbarMenu" class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Development and Integration</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Technology</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Solution</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/company" routerLinkActive="active"
              >Company</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/company" routerLinkActive="active"
              >Contact Us</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- header content -->
  <header class="page-header gradient">
    <div class="container pb-3">
      <div class="row justify-content-center align-items-center">
        <div class="col-md-5 align-items-center">
          <h2>Service Optimization Oriented</h2>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Praesentium deserunt consectetur aperiam ex mollitia temporibus
            ipsam sunt ab atque consequatur rem cumque recusandae, sint
            cupiditate exercitationem provident esse at distinctio.
          </p>
          <button type="button" class="btn btn-outline-warning ">
            Read More ...
          </button>
        </div>
        <div class="col-md-5">
          <img
            src="../assets/img/email_campaign_monochromatic.svg"
            alt="Header image"
          />
        </div>
      </div>
    </div>
    <!-- svg waves -->
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path
        fill="#fff"
        fill-opacity="1"
        d="M0,128L48,122.7C96,117,192,107,288,85.3C384,64,480,32,576,48C672,64,768,128,864,138.7C960,149,1056,107,1152,90.7C1248,75,1344,85,1392,90.7L1440,96L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
      ></path>
    </svg>
  </header>
  <section class="companies">
    <div class="container text-center">
      <div class="row g-5">
        <div class="col-md-2">
          <img
            src="../assets/img/companies/1.png"
            alt="company logo"
            class="img-fluid"
          />
        </div>
        <div class="col-md-2">
          <img
            src="../assets/img/companies/2.png"
            alt="company logo"
            class="img-fluid"
          />
        </div>
        <div class="col-md-2">
          <img
            src="../assets/img/companies/3.png"
            alt="company logo"
            class="img-fluid"
          />
        </div>
        <div class="col-md-2">
          <img
            src="../assets/img/companies/4.png"
            alt="company logo"
            class="img-fluid"
          />
        </div>
        <div class="col-md-2">
          <img
            src="../assets/img/companies/5.png"
            alt="company logo"
            class="img-fluid"
          />
        </div>
        <div class="col-md-2">
          <img
            src="../assets/img/companies/6.png"
            alt="company logo"
            class="img-fluid"
          />
        </div>
      </div>
    </div>
  </section>

  <section class="services">
    <div class="container">
      <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6"></div>
      </div>
    </div>
  </section>
</body>
